<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href = "../public/css/style.css" rel="stylesheet"/>
    <script src = "./js/gametickets.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <title>GAA Tickets</title>

</head>
<body>
    <div class="container-1">
        <h1>Welcome to The GAA</h1>
        <img src="/images/gaa-logo1.jpg" alt="GAA" width="400" height="200">
        
        <div id="mygame"></div>
    </div>
        <h5 id="my-retrieve"></h5>
  
    <br>

    <div class="form">
        <button id="btnAdd" onclick="add_new_gameticket()"><strong>Add</strong> New Game Ticket</button>
        <button id ="btnEdit" onclick="edit_gameticket()"><strong>Edit</strong> Current Game Ticket</button>
        <button id ="btnDelete" onclick="delete_gameticket()"><strong>Delete</strong> Current Game Ticket</button><br><br>

    </div>

</body>
    
</body>
</html>


<!-- https://www.w3schools.com/howto/howto_css_contact_form.asp -->